{% extends 'Quizes/base_home.html' %}
{% block content %}

<div class="container-fluid" style="padding:50px;">
    <div class="row">
        <div class="card col-lg-12" style="margin-top:20px;padding:50px;box-shadow: 5px 7px 7px 5px grey;">
            <div class="row">

                <div class="card col-lg-12" style="border: 2px solid #C3C3C3;">
                    <h5 class="card-header"><b>21st Century Manager</b></h5>
                        <div class="card-body">
                            <p class="card-text">Provides a profile of your management foundations (PMF) score based on criteria developed by the American Assembly
                                of Collegiate Schools of Business (AACSB).</p>
                                <a href="/quiz" class="btn btn-primary">Select</a>
                        </div>
                </div>&emsp;

                <div class="card col-lg-12" style="border: 2px solid #C3C3C3;">
                    <h5 class="card-header"><b>Emotional Intelligence</b></h5>
                        <div class="card-body">
                            <p class="card-text">Measures an individuals Emotional Intelligence in five areas.</p>
                                <a href="#" class="btn btn-primary">Select</a>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
