{% extends 'Quizes/base_home.html' %}
{% load staticfiles %}
{% block content %}


<div class="container">
    <div class = row>
        <div class="card col-lg-12" style="margin-top:50px;box-shadow: 5px 7px 7px 5px grey;">
            <h4 style="text-align:center; margin-top:10px;">The 21st Century Manager</h4>&emsp;

                <div>
                    <input type="button" id="btn" value= "Hide Instructions" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample" />

                    <script type="text/javascript">
                        document.getElementById("btn").addEventListener(
                        "click",
                        function(event) {
                        if (event.target.value === "Hide Instructions") {
                        event.target.value = "Show Instructions";
                        } else {
                        event.target.value = "Hide Instructions";
                        }
                        },
                        false
                        );
                    </script>
                </div>

                <div class = "card col-lg-12" style="line-height:.6em;margin-top:10px;padding:10px; border: 2px solid #C3C3C3;">
                    <div class="collapse show" id="collapseExample">

                        <!--h5><b>Instructions:</b></h5-->
                            <p>Rate yourself on the following characteristics</p><br>
                            <p><b>Strong</b> = I am very confident with this one</p><br>
                            <p><b>Good</b>   = I still have room to grow</p><br>
                            <p><b>Weak</b>   = I really need to work on this one</p><br>
                            <p><b>Unsure</b> = I just don't know</p>
                    </div>
                </div>&emsp;
                <div>
                    {% csrf_token %}
                        <form action="/century_score" method="POST">
                            {% csrf_token %}
                            {% for q in question %}
                                {{ q }}
                            {% endfor %}<br>

                            {% for ans in answers %}
                            <input type="radio" value="{{ ans.id }}"/> {{ ans }} <br>
                            {% endfor %}
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                </div>
        </div>

    </div>
</div><br>

{% endblock %}